:root[data-theme="jour"] {
  --terre:#000000;
  --terre-d:#262626;
  --or:#A3A3A3;
  --palme:#10B981;
  --palme-l:#34D399;
  --danger:#DC2626;
  --danger-d:#B91C1C;
  --nuit:#111111;
  --nuit-2:#1A1A1A;
  --nuit-3:#0A0A0A;
  --sable:#F7F7F8;
  --sable-d:#ECECED;
  --line:#E5E5E5;
  --muted:#71717A;
  --ink:#0A0A0A;
  --white:#FFFFFF;
  --circuit:#171717;
  --circuit-d:#000000;
  --circuit-l:#525252;
  --chip:#F7F7F8;
  --terre-rgb:0,0,0;
  --terre-d-rgb:38,38,38;
  --or-rgb:163,163,163;
  --palme-rgb:16,185,129;
  --palme-l-rgb:52,211,153;
  --danger-rgb:220,38,38;
  --danger-d-rgb:185,28,28;
  --nuit-rgb:17,17,17;
  --nuit-2-rgb:26,26,26;
  --nuit-3-rgb:10,10,10;
  --sable-rgb:247,247,248;
  --sable-d-rgb:236,236,237;
  --line-rgb:229,229,229;
  --muted-rgb:113,113,122;
  --ink-rgb:10,10,10;
  --white-rgb:255,255,255;
  --circuit-rgb:23,23,23;
  --circuit-d-rgb:0,0,0;
  --circuit-l-rgb:82,82,82;
  --chip-rgb:247,247,248;
  --on-terre:#FFFFFF;
  --on-terre-rgb:255,255,255;
}
