:root[data-theme="nuit"] {
  --terre:#E8A33D;
  --terre-d:#C9872A;
  --or:#F2B84B;
  --palme:#10B981;
  --palme-l:#34D399;
  --danger:#EF4444;
  --danger-d:#DC2626;
  --nuit:#0B1220;
  --nuit-2:#16233D;
  --nuit-3:#070D18;
  --sable:#0B1220;
  --sable-d:#16233D;
  --line:#25344F;
  --muted:#93A4C3;
  --ink:#F3F6FB;
  --white:#131F35;
  --circuit:#2C4468;
  --circuit-d:#1B2C47;
  --circuit-l:#4C6690;
  --chip:#16233D;
  --terre-rgb:232,163,61;
  --terre-d-rgb:201,135,42;
  --or-rgb:242,184,75;
  --palme-rgb:16,185,129;
  --palme-l-rgb:52,211,153;
  --danger-rgb:239,68,68;
  --danger-d-rgb:220,38,38;
  --nuit-rgb:11,18,32;
  --nuit-2-rgb:22,35,61;
  --nuit-3-rgb:7,13,24;
  --sable-rgb:11,18,32;
  --sable-d-rgb:22,35,61;
  --line-rgb:37,52,79;
  --muted-rgb:147,164,195;
  --ink-rgb:243,246,251;
  --white-rgb:19,31,53;
  --circuit-rgb:44,68,104;
  --circuit-d-rgb:27,44,71;
  --circuit-l-rgb:76,102,144;
  --chip-rgb:22,35,61;
  --on-terre:#0B1220;
  --on-terre-rgb:11,18,32;
}
